У цьому домашньому завданні ми будемо працювати з набором даних Tips. Нижче інформація про нього.

**Про датасет:**

Tips - це датасет, який містить інформацію про рахунки та чайові в ресторані.

**Колонки датасету:**
- `total_bill` - загальна сума рахунку (долари)
- `tip` - розмір чайових (долари)
- `sex` - стать відвідувача (Male/Female)
- `smoker` - чи курить (Yes/No)
- `day` - день тижня (Thur/Fri/Sat/Sun)
- `time` - час відвідування (Lunch/Dinner)
- `size` - розмір групи (кількість людей)

**Джерело:** Оригінальні дані зібрані в одному з американських ресторанів у 1990-х роках. Скачати і переглянути набір даних можна тут: https://www.kaggle.com/datasets/sakshisatre/tips-dataset

А також ми вже вивантажили файл з даними і завантажили вам у Матеріали до цього модуля.




**1. Завантаження та огляд**

Завантажте датасет Tips (Чайові) з файла у матеріалах `tips.csv`.

Виведіть (кожен пункт оцінюється в 0.5 бала):
- Перші 5 рядків
- Розмір датасету (shape)
- Назви всіх колонок
- Інформацію про типи даних (info)

In [48]:
import pandas as pd

tips = pd.read_csv("tip.csv")

display(tips.head(5))
display(tips.shape)
display(tips.columns)
display(tips.info())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

(244, 7)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

None

**2. Базова вибірка даних**

Виберіть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Колонку `total_bill` (загальний рахунок)
- Колонки `total_bill` та `tip` (чайові) разом
- Перші 10 рядків
- Рядок з індексом 5

In [49]:
total_bill = tips["total_bill"]
display(total_bill)

total_bill_and_tip = tips[["total_bill", "tip"]]
display(total_bill_and_tip)
display(total_bill_and_tip.iloc[0:11])
display(total_bill_and_tip.iloc[5])

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

    total_bill   tip
0        16.99  1.01
1        10.34  1.66
2        21.01  3.50
3        23.68  3.31
4        24.59  3.61
5        25.29  4.71
6         8.77  2.00
7        26.88  3.12
8        15.04  1.96
9        14.78  3.23
10       10.27  1.71

total_bill    25.29
tip            4.71
Name: 5, dtype: float64

**3. Фільтрація даних**

Відфільтруйте та виведіть (кожен пункт оцінюється в 0.5 бала):
- Всі рахунки більше 20 доларів (`total_bill > 20`)
- Всі відвідувачі-жінки (`sex == 'Female'`)
- Рахунки на вечерю (`time == 'Dinner'`)
- Рахунки на вечерю більше 30 доларів

In [50]:
total_bill_20 = tips[tips["total_bill"] > 20]
display(total_bill_20)

     total_bill   tip     sex smoker  day    time  size
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
7         26.88  3.12    Male     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
237       32.83  1.17    Male    Yes  Sat  Dinner     2
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2

[97 rows x 7 columns]

In [51]:

total_bill_female = tips[tips["sex"] =="Female"]
display(total_bill_female)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 7 columns]

In [52]:

total_bill_dinner = tips[tips["time"] == 'Dinner']
display(total_bill_dinner)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[176 rows x 7 columns]

In [53]:

total_bill_dinner_30 = tips[(tips["time"] == 'Dinner') & (tips["total_bill"] > 30)]
display(total_bill_dinner_30)

     total_bill    tip     sex smoker  day    time  size
11        35.26   5.00  Female     No  Sun  Dinner     4
23        39.42   7.58    Male     No  Sat  Dinner     4
39        31.27   5.00    Male     No  Sat  Dinner     3
44        30.40   5.60    Male     No  Sun  Dinner     4
47        32.40   6.00    Male     No  Sun  Dinner     4
52        34.81   5.20  Female     No  Sun  Dinner     4
56        38.01   3.00    Male    Yes  Sat  Dinner     4
59        48.27   6.73    Male     No  Sat  Dinner     4
95        40.17   4.73    Male    Yes  Fri  Dinner     4
102       44.30   2.50  Female    Yes  Sat  Dinner     3
112       38.07   4.00    Male     No  Sun  Dinner     3
156       48.17   5.00    Male     No  Sun  Dinner     6
167       31.71   4.50    Male     No  Sun  Dinner     4
170       50.81  10.00    Male    Yes  Sat  Dinner     3
173       31.85   3.18    Male    Yes  Sun  Dinner     2
175       32.90   3.11    Male    Yes  Sun  Dinner     2
179       34.63   3.55    Male    Yes  Sun  Dinner     2
180       34.65   3.68    Male    Yes  Sun  Dinner     4
182       45.35   3.50    Male    Yes  Sun  Dinner     3
184       40.55   3.00    Male    Yes  Sun  Dinner     2
187       30.46   2.00    Male    Yes  Sun  Dinner     5
207       38.73   3.00    Male    Yes  Sat  Dinner     4
210       30.06   2.00    Male    Yes  Sat  Dinner     3
212       48.33   9.00    Male     No  Sat  Dinner     4
219       30.14   3.09  Female    Yes  Sat  Dinner     4
237       32.83   1.17    Male    Yes  Sat  Dinner     2
238       35.83   4.67  Female     No  Sat  Dinner     3

---

**4. Статистика**

Обчисліть (кожен пункт оцінюється в 0.5 бала):
- Середній розмір рахунку на всьому наборі даних
- Максимальні чайові
- Кількість пропущених значень у всіх колонках
- Скільки відвідувачів обідали, скільки вечеряли

In [54]:
display(tips['total_bill'].mean())
display(tips['tip'].max())
display(tips.isnull().sum())
display(tips[tips['time']=='Dinner'].size)
display(tips[tips['time']=='Lunch'].size)

np.float64(19.78594262295082)

10.0

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

1232

476

---

**5. Групування**

Обчисліть (кожен пункт оцінюється в 0.5 бала):
- Середній рахунок за статтю (groupby `sex`)
- Середні чайові за днем тижня (groupby `day`)
- Скільки відвідувачів у кожен день

In [55]:
by_sex = tips.groupby('sex')['total_bill'].mean()
display(by_sex)

sex
Female    18.056897
Male      20.744076
Name: total_bill, dtype: float64

In [56]:
by_day = tips.groupby('day')['tip'].mean()
display(by_day)

day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.771452
Name: tip, dtype: float64

In [57]:

by_day_guests = tips.groupby('day')['size'].sum()
display(by_day_guests)

day
Fri      40
Sat     219
Sun     216
Thur    152
Name: size, dtype: int64

---

**6. Створення нової колонки**

Створіть нову колонку `tip_percentage` - відсоток чайових від загальної суми рахунку.
Виведіть перші 10 рядків з новою колонкою.

In [58]:
tips['tip_percentage'] =  tips['tip']/total_bill  * 100
display(tips.round().head(10))

display(tips['tip_percentage'].mean())

   total_bill  tip     sex smoker  day    time  size  tip_percentage
0        17.0  1.0  Female     No  Sun  Dinner     2             6.0
1        10.0  2.0    Male     No  Sun  Dinner     3            16.0
2        21.0  4.0    Male     No  Sun  Dinner     3            17.0
3        24.0  3.0    Male     No  Sun  Dinner     2            14.0
4        25.0  4.0  Female     No  Sun  Dinner     4            15.0
5        25.0  5.0    Male     No  Sun  Dinner     4            19.0
6         9.0  2.0    Male     No  Sun  Dinner     2            23.0
7        27.0  3.0    Male     No  Sun  Dinner     4            12.0
8        15.0  2.0    Male     No  Sun  Dinner     2            13.0
9        15.0  3.0    Male     No  Sun  Dinner     2            22.0

np.float64(16.08025817225047)

---

**7. Сортування**

Відсортуйте датасет і виведіть результат сортування в кожному випадку окремо (кожен пункт оцінюється в 0.5 бала):
- За розміром рахунку (зростання)
- За чайовими (спадання)

Додатково виведіть топ-5 найбільших чайових використовуючи метод `nlargest`.

In [63]:
sorted_total = tips.sort_values('total_bill', ascending=True)
sorted_total

     total_bill    tip     sex smoker   day    time  size  tip_percentage
67         3.07   1.00  Female    Yes   Sat  Dinner     1       32.573290
92         5.75   1.00  Female    Yes   Fri  Dinner     2       17.391304
111        7.25   1.00  Female     No   Sat  Dinner     1       13.793103
172        7.25   5.15    Male    Yes   Sun  Dinner     2       71.034483
149        7.51   2.00    Male     No  Thur   Lunch     2       26.631158
..          ...    ...     ...    ...   ...     ...   ...             ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3        7.717751
156       48.17   5.00    Male     No   Sun  Dinner     6       10.379905
59        48.27   6.73    Male     No   Sat  Dinner     4       13.942407
212       48.33   9.00    Male     No   Sat  Dinner     4       18.621974
170       50.81  10.00    Male    Yes   Sat  Dinner     3       19.681165

[244 rows x 8 columns]

In [67]:
sorted_total_2 = tips.sort_values(by='tip', ascending=True)
sorted_total_2

     total_bill    tip     sex smoker   day    time  size  tip_percentage
92         5.75   1.00  Female    Yes   Fri  Dinner     2       17.391304
111        7.25   1.00  Female     No   Sat  Dinner     1       13.793103
67         3.07   1.00  Female    Yes   Sat  Dinner     1       32.573290
236       12.60   1.00    Male    Yes   Sat  Dinner     2        7.936508
0         16.99   1.01  Female     No   Sun  Dinner     2        5.944673
..          ...    ...     ...    ...   ...     ...   ...             ...
141       34.30   6.70    Male     No  Thur   Lunch     6       19.533528
59        48.27   6.73    Male     No   Sat  Dinner     4       13.942407
23        39.42   7.58    Male     No   Sat  Dinner     4       19.228818
212       48.33   9.00    Male     No   Sat  Dinner     4       18.621974
170       50.81  10.00    Male    Yes   Sat  Dinner     3       19.681165

[244 rows x 8 columns]